<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public//css/index.css">
    <link rel="stylesheet" href="../public/css/header.css">
    <link rel="stylesheet" href="../public/css/main.css">
    <title>Weather</title>
</head>

<body>
    <div class="main-container">
        <header>
            <label class="degree-toggle" for="degrees">
                <input type="checkbox" class="degree-input" name="degrees" id="degrees">
                <div class="degree-slider">
                    <p class="input-f">°F</p>
                    <p class="input-c">°C</p>
                </div>
            </label>
            <div class="search-container">
                <form id="search-form">
                    <input type="text" name="city" placeholder="ENTER A CITY">
                </form>
                <div class="error-msg"><p>Not Found!</p></div>
            </div>
        </header>
        <div class="container">
            <div class="main">
                <h1 class="city"><%= weather.name %>,</h1>
                <h2 class="country"><%= country_name %> </h2>
                <h1 class="current-temp"><span data-temp><%= weather.main.temp %></span>°</h1>
                <div class="low-high">
                    <h3 class="max-temp">High: <span data-temp><%= weather.main.temp_max %></span>°</h3>
                    <h3 class="min-temp">Low: <span data-temp><%= weather.main.temp_min %></span>°</h3>
                </div>
                <h3 class="current-time"><%= new Date(weather.dt * 1000).toLocaleTimeString() %> </h3>
            </div>
            <div class="extra-info">
                <div class="extra-info-imgs">
                    <img src="<%= country_flag %>"  alt="" id="flag"/>
                    <img src=<%= `http://openweathermap.org/img/wn/${weather.weather[0].icon}@2x.png` %> id="weather-icon"/>
                </div>
                <div class="extra-info-data">
                    <div id="extra-info-data-first">
                        <h3 class="weather-main">Weather: <span><%= weather.weather[0].main %></span> </h3>
                        <h3 class="feels-like">Feels Like: <span data-temp><%= weather.main.feels_like %></span>°</h3>
                        <h3 class="humidity">Humidity: <span> <%= weather.main.humidity %></span> %</h3>
                        <h3 class="sunrise">Sunrise: <span><%= new Date(weather.sys.sunrise * 1000).toLocaleTimeString() %></span> </h3>
                    </div>
                    <div id="extra-info-data-second">
                        <h3 class="weather-desc">Desc: <span><%= weather.weather[0].description %></span></h3>
                        <h3 class="wind-speed">Wind Speed: <span><%= weather.wind.speed %> </span> mph</h3>
                        <h3 class="pressure" >Pressure: <span><%= weather.main.pressure %></span> hPa</h3>
                        <h3 class="sunset">Sunset: <span> <%= new Date(weather.sys.sunset * 1000).toLocaleTimeString() %></span></h3>
                    </div>
                </div>
            </div>
            <div class="forecast">
                <% forecast.list.forEach(temp=> { %>
                        <% const date = new Date(temp.dt * 1000) %>
                        <div class="day-temp">
                            <p><%= date.toLocaleDateString() %></p>
                            <p><%= date.toLocaleTimeString()%></p>
                            <p data-temp><%= temp.main.temp %>°</p>
                            <img src=<%= `http://openweathermap.org/img/wn/${temp.weather[0].icon}@2x.png` %> />
                            <p><%= temp.weather[0].main %></p>
                            <p><%= temp.weather[0].description %></p>
                        </div>
                <% }) %>
            </div>
        </div>
  
</body>
<script type="module" src="../public/js/index.js"></script>
</html>